<div fxFlex="100%" class="flex-p" class="snapshot" fxLayout.xs="column" fxLayoutGap="2%">
<img class="logo" src="assets/image/user1.jpg">

<button  mat-raised-button color="accent" type="submit">send Request </button>
</div>


<div fxFlex="100%" class="flex-p" class="snapshot" fxLayout.xs="column" fxLayoutGap="2%">
    <img class="logo" src="assets/image/user2.jpg">
    
    <button  mat-raised-button color="accent" type="submit">send Request </button>
    </div>

    <div fxFlex="100%" class="flex-p" class="snapshot" fxLayout.xs="column" fxLayoutGap="2%">
        <img class="logo" src="assets/image/user3.avif">
        
        <button  mat-raised-button color="accent" type="submit"> send Request </button>
        </div>